<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vagm.vagmdroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.vagm.vagmdroid" >
    </instrumentation>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.vagm.vagmdroid.activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:description="@string/bComfort"
            android:label="@string/app_name"
            android:singleUser="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vagm.vagmdroid.activities.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.vagm.vagmdroid.activities.ControllerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_controller" >
        </activity>

        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.vagm.vagmdroid.activities.GraphicActivity"
            android:label="@string/title_activity_graphic" >
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" >
        </activity>
        <activity
            android:name="com.vagm.vagmdroid.activities.MeasBlocksActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_activity_meas_blocks"
            android:parentActivityName="com.vagm.vagmdroid.activities.ControllerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vagm.vagmdroid.activities.ControllerActivity" />
        </activity>

    </application>

</manifest>